.steps{
    text-align: end;
    margin-top: 10px;
    margin-right: 20px;
    align-self: flex-end;
    position: absolute;
    top: 0;
}

.steps > p{
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-weight: bold;
}


.icon{
    margin-left: 10px;
    opacity: 0.25;
    font-size: 5px;
}

.active{
    opacity: 1;
}

@media(max-width: 996px){
    .steps > p{
        color: #fff;
    }
    
}