.form-field{
    width: 40%;
}

.form-title{
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 50px;
}

.form-field > p{
    font-size: 14px;
    margin-bottom: 50px;
}

form{
    width: 100%;
}

.form-g{
    width: 100%;
    margin-top: 20px;
}

.form-g > p{
    font-size: 12px;
    margin-top: 10px;
    color: #757575;
}


.form-g > .emailError{
    color: red;
}

.emailError{
    display: none;
}

.label-input{
    font-size: 14px;
    transform: translateY(18px);
    margin-left: 14px;
    background-color: #fff;
    display: none;
}

.active-label{
    display: inline-block;
}

.input-controll{
    width: 100%;
    padding: 10px;
    height: 50px;
    border: 1px solid #CCC;
    border-radius: 3px;
}

.btn-nxt{
    width: 100%;
    background-color: #eaeaea;
    border: 1px solid #eaeaea;
    color: #a1a1a1;
    border-radius: 3px;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 40px;
}

.active-btn{
    background-color: #0048F2;
    color: #FFF
}

.show-password{
    position: relative;
    top: -35px;
    right: -91%;
    color: #000;
}

@media(max-width: 1600px){
    .form-field{
        width: 60%;
    }
}

@media(max-width: 996px){
    .form-field{
        width: 80%;
    }
}